@import "tailwindcss";

body {
  user-select: none;
  -webkit-user-select: none; /* For Safari */
}





html, body {
  overflow-x: hidden;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.zilla-slab-light {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: normal;
}
